### ANALYZING THE INDIAN START-UP ECOSYSTEM

#### Project Description
This project involves analyzing the funding received by startups in India from 2018 to 2021.
Leveraging the CRISP-DM (Cross-Industry Standard Process for Data Mining) methodology, We will identify key trends, sectoral and geographical distribution of funding,investor dynamics, and existing challenges within the ecosystem. The ultimate goal is to  proposing the best course of action to investors and foster a more robust and sustainable startup environment in India.
The datasets provided contain details of the startups,geographical location, the funding amounts recieved,investor information.

#### Objectives
1. Identify key investment trends in the Indian startup ecosystem from 2018 to 2021
2. Explore the distribution of startup funding across different sectors and regions in India.
3. Determine high-growth sectors that attract significant funding.
4. Analyze investor activity and preferences within the ecosystem.
5. Understand the characteristics of startups that receive substantial funding.

#### Hypothesis
Hypothesis  (Alternative Hypothesis): There is significant increase  in the amount of funding received by Indian start-ups from 2018 to 2021.
Null Hypothesis: There is no significant increase in the amount of funding received by Indian startups from 2018 to 2021.

#### Analytical Questions
1.	What are the trends in the total amount of funding received by Indian startups from 2018 to 2021?
2.	Which sectors have attracted the most investment during each year, and how have these trends evolved over the four years?
3.	Who are the highest investors, Total Fund invested and sector? 
4.	At which stage are Indian-Start-ups funded the most?
5. How is startup funding distributed across different sectors and regions. Highest and lowest?

#### Data Understanding
##### Loading datasets from different sources

In [1]:
#import all necessary libraries
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import numpy as np
import warnings 

warnings.filterwarnings('ignore')

In [2]:
#load 2018 data 
data_18 = pd.read_csv('startup_funding2018.csv')

#View data
data_18.head(3)

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India

- some details in the amount column were given in INR(rupees) and need to be converted to dolar.The commas in the column also need to be stripped.
- location column nee to be cleaned and the commas stripped

In [3]:
#load 2019 data 
data_19 = pd.read_csv('startup_funding2019.csv',encoding = "ISO-8859-1")

#View data
data_19.head(3)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding

- the amount column ,location need to be cleaned and the commas stripped.

In [4]:
# Load environment variables from .env file into a dictionary to access 2020 and 2021 datasets from database
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
login = environment_variables.get("login")
password = environment_variables.get("password")

In [5]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={login};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [6]:
# Use the connect method of the pyodbc library and pass in the connection string.
connection = pyodbc.connect(connection_string)

In [7]:
# write an sql query to get data

query = '''SELECT *
           FROM INFORMATION_SCHEMA.TABLES
           WHERE TABLE_TYPE = 'BASE TABLE'
        '''
data = pd.read_sql(query, connection)
data.head()

  TABLE_CATALOG TABLE_SCHEMA               TABLE_NAME  TABLE_TYPE
0         dapDB          dbo  LP1_startup_funding2021  BASE TABLE
1         dapDB          dbo  LP1_startup_funding2020  BASE TABLE

In [8]:
#write an sql query to extract 2020 details from the data
query = '''SELECT *
           FROM LP1_startup_funding2020
        '''
data_20 = pd.read_sql(query, connection)
data_20.head(4)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None

In [9]:
#write an sql query to extract 2021 details from the database
query = '''SELECT *

           FROM LP1_startup_funding2021
        '''
data_21 = pd.read_sql(query, connection)
data_21.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

-amount column needs to be cleaned, dollar sign removed and commas removed.

column names and description:

Company/Brand: Name of the company/start-up

Founded: Year start-up was founded

Sector: Sector of service

What it does: Description about Company

Founders: Founders of the Company

Investor: Investors

Amount($): Raised fund from grants

Stage: funding stage

##### Data description/EDA

In [10]:
# a look at the shape of the dataframes
data_18.shape , data_19.shape , data_20.shape , data_21.shape

((526, 6), (89, 9), (1055, 10), (1209, 9))

In [11]:
# a quick overview of the datatypes for 2018 dataset
print(data_18.info(), "\n============= Null Values =============================")

#check for null values
print(data_18.isna().sum(), "\n============= Duplicate rows =============================")

#check for duplicates
print(data_18[data_18.duplicated()])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB
None
============= Null Values =============================
Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64
============= Duplicate rows =============================
        Company Name                                           Industry  \
348  TheCollegeFever  Brand Marketing, Event Promotion, Marketing, S...

    Round/Series  Amount                     Location  \
348         Seed  250000  Bangalore, Karnataka, India

                                         About Company
348  TheCollegeFever is a hub for fun, fiesta and f...

In [12]:
#check the datatypes in 2019 dataset
print(data_19.info(), "\n============= Null Values =============================")

#check for null values
print(data_19.isna().sum(), "\n============= Duplicate rows =============================")
#check for duplicates
print(data_19.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB
None
============= Null Values =============================
Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64
============= Duplicate rows =============================
0

In [13]:
#overview of 2020 datatypes
print(data_20.info(), "\n============= Null Values =============================")

#check for null values
print(data_20.isna().sum(), "\n============= Duplicate rows =============================")

#check for duplicates
print(f" total number of duplicates for 2020 is {data_20.duplicated().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB
None
============= Null Values =============================
Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64
============= Duplicate rows =============================
 total number of duplicates for 2020 is 3

In [14]:
#Overview of 2021 datatype
print(data_21.info(), "\n============= Null Values =============================")

#check for null values
print(data_21.isna().sum(), "\n============= Duplicate rows =============================")

#check for duplicates
print(f"total number of duplicate rows for 2021 dataset is {data_21.duplicated().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB
None
============= Null Values =============================
Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64
============= Duplicate rows =============================
total number of duplicate rows for 2021 dataset is 19

Observations:
1. 2020 and 2021 datasets have different column names in comparison to 2018 and 2019 datasets.This has to be renamed for uniformity before merging the datasets.
2. The 2018 dataset exhibits some missing columns, contributing to an incomplete representation of the data.
3. The 2020 dataset contains an additional column that appears to be extraneous and does not serve a meaningful purpose in our analysis and will be removed
4. 2018 dataset has 1 duplicate row, 2020 has 3 duplicate rows and 2021 has 19 duplicate rows.
5. We can also see the total number of missing values in each column of our dataset, These will be handled in the data cleaning phase.


we have a total of 4 datasets from different sources and need to be merged before we can perform data cleaning and analysis.

In [15]:
#add a column for the year funding was recieved for each dataframe before merging.
data_21['year_funded']= '2021'
data_20['year_funded']= '2020'
data_19['year_funded']= '2019'
data_18['year_funded']= '2018'

In [16]:
#rename column names for each dataframe for uniformity before merging

data_18.rename(columns = {'Company Name':'company_name','Round/Series':'funding_stage','About Company': 'about_company','Industry':'industry','Amount':'Amount_in_usd'},inplace = True)
data_19.rename(columns = {'Company/Brand':'company_name','HeadQuarter':'Location','Sector':'industry','What it does' :'about_company','Amount($)':'Amount_in_usd','Stage': 'funding_stage'},inplace = True)
data_20.rename(columns = {'Company_Brand':'company_name','HeadQuarter':'Location','Sector':'industry','What_it_does' :'about_company','Amount':'Amount_in_usd','Stage': 'funding_stage'},inplace = True)
data_21.rename(columns = {'Company_Brand':'company_name','HeadQuarter':'Location','Sector':'industry','What_it_does' :'about_company','Amount':'Amount_in_usd','Stage': 'funding_stage'},inplace = True)

#preview the data
data_18.head(5)

,company_name,industry,funding_stage,Amount_in_usd,Location,about_company,year_funded
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018

In [17]:
# merge all dataframes

merged_df = pd.concat([data_18,data_19,data_20,data_21], axis = 0)

#view the merged dataframe
merged_df.tail(5)

,company_name,industry,funding_stage,Amount_in_usd,Location,about_company,year_funded,Founded,Founders,Investor,column10
1204,Gigforce,Staffing & Recruiting,Pre-series A,$3000000,Gurugram,A gig/on-demand staffing company.,2021,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners,NaN
1205,Vahdam,Food & Beverages,Series D,$20000000,New Delhi,VAHDAM is among the world’s first vertically i...,2021,2015.0,Bala Sarda,IIFL AMC,NaN
1206,Leap Finance,Financial Services,Series C,$55000000,Bangalore,International education loans for high potenti...,2021,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures,NaN
1207,CollegeDekho,EdTech,Series B,$26000000,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2021,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital",NaN
1208,WeRize,Financial Services,Series A,$8000000,Bangalore,India’s first socially distributed full stack ...,2021,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",NaN

In [18]:
#view the datatype
merged_df.info()
print(f'============Number of unique values===============')
merged_df.nunique()

<class 'pandas.core.frame.DataFrame'>
Index: 2879 entries, 0 to 1208
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_name   2879 non-null   object
 1   industry       2861 non-null   object
 2   funding_stage  1941 non-null   object
 3   Amount_in_usd  2622 non-null   object
 4   Location       2765 non-null   object
 5   about_company  2879 non-null   object
 6   year_funded    2879 non-null   object
 7   Founded        2110 non-null   float64
 8   Founders       2334 non-null   object
 9   Investor       2253 non-null   object
 10  column10       2 non-null      object
dtypes: float64(1), object(10)
memory usage: 269.9+ KB
============Number of unique values===============

company_name     2214
industry          873
funding_stage      75
Amount_in_usd     803
Location          172
about_company    2691
year_funded         4
Founded            34
Founders         1980
Investor         1777
column10            2
dtype: int64

In [19]:

#convert the year column to date format
merged_df['year_funded'] = pd.to_datetime(merged_df['year_funded'],format='%Y').dt.year

#convert the Founded column to date format
merged_df['Founded'] = pd.to_datetime(merged_df['Founded'],format='%Y').dt.year

#view the result
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2879 entries, 0 to 1208
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_name   2879 non-null   object
 1   industry       2861 non-null   object
 2   funding_stage  1941 non-null   object
 3   Amount_in_usd  2622 non-null   object
 4   Location       2765 non-null   object
 5   about_company  2879 non-null   object
 6   year_funded    2879 non-null   int32
 7   Founded        2110 non-null   float64
 8   Founders       2334 non-null   object
 9   Investor       2253 non-null   object
 10  column10       2 non-null      object
dtypes: float64(1), int32(1), object(9)
memory usage: 258.7+ KB

In [20]:
merged_df.describe(include = 'all')

,company_name,industry,funding_stage,Amount_in_usd,Location,about_company,year_funded,Founded,Founders,Investor,column10
count,2879,2861,1941,2622,2765,2879,2879.000000,2110.000000,2334,2253,2
unique,2214,873,75,803,172,2691,NaN,NaN,1980,1777,2
top,BharatPe,FinTech,Seed,—,Bangalore,BYJU'S is an educational technology company th...,NaN,NaN,Byju Raveendran,Inflection Point Ventures,Pre-Seed
freq,10,173,606,148,764,5,NaN,NaN,7,36,1
mean,NaN,NaN,NaN,NaN,NaN,NaN,2020.023619,2016.079621,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,1.086974,4.368006,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,1963.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2020.000000,2015.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2020.000000,2017.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,2019.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,2021.000000,NaN,NaN,NaN

The descriptive statistics above has a lot of NaN and duplicate values due to the nature of our dataset which has to be cleaned before we can perform the analysis.

### Data Cleaning

In [21]:
#drop redundant column 10
merged_df.drop(columns='column10',axis=1,inplace=True)

#check for duplicates
merged_df[merged_df.duplicated()]

#drop the duplicates
merged_df.drop_duplicates(keep='first',inplace =True)

In [22]:
merged_df.duplicated().sum()

#reset the index
merged_df.reset_index(inplace=True)

In [23]:
#preview the merged data
merged_df.head(5)

,index,company_name,industry,funding_stage,Amount_in_usd,Location,about_company,year_funded,Founded,Founders,Investor
0,0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN
1,1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,NaN,NaN,NaN
2,2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,NaN,NaN,NaN
3,3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN
4,4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN

In [24]:
#check for percentage of null values 
merged_df.isna().mean() * 100

index             0.000000
company_name      0.000000
industry          0.630252
funding_stage    32.528011
Amount_in_usd     8.963585
Location          3.991597
about_company     0.000000
year_funded       0.000000
Founded          26.890756
Founders         19.047619
Investor         21.848739
dtype: float64

#### Cleaning the amount column 
- We consider the base value for the amount column to be dollars so any value in the amount column with no sign will be treated as a dollar value.
- according to https://www.exchangerates.org.uk/INR-USD-spot-exchange-rates-history-2018.html, the average exchange rate for INR/USD in 2018 is ₹1 INR = $ 0.0146
- we will strip the currency symbols, convert ruppes to dollar, remove the commas,- and convert datatype to float.
-Certain rows in the amount column have wrong inputs which are values of other columns(like funding_stage and investor columns) and these rows must also be corrected.

- undisclosed values will be treated as NaN

In [25]:
#view the unique values in the Amount cloumn
merged_df['Amount_in_usd'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000',
       '$6,300,000 ', '$150,000,000 ', '$28,000,000 ', '$30,000,000 ',
       '$6,000,000 ', 'Undisclosed', '$1,000,000 ', '$20,000,000 ',
       '$275,000,000 ', '$22,000,000 ', '$5,000,000 ', '$140,500 ',
       '$540,000,000 ', '$15,000,000 ', '$182,700 ', '$12,000,000 ',
       '$11,000,000 ', '$15,500,000 ', '$1,500,000 ', '$5,500,000 ',
       '$2,500,000 ', '$140,000 ', '$230,000,000 ', '$49,400,000 ',
       '$32,000,000 ', '$26,000,000 ', '$150,000 ', '$400,000 ',
       '$2,000,000 ', '$100,000,000 ', '$8,000,000 ', '$100,000 ',
       '$50,000,000 ', '$120,000,000 ', '$4,000,000 ', '$6,800,000 ',
       '$36,000,000 ', '$5,700,000 ', '$25,000,000 ', '$600,000 ',
       '$70,000,000 ', '$60,000,000 ', '$220,000 ', '$2,800,000 ',
       '$2,100,000 ', '$7,000,000 ', '$311,000,000 ', '$4,800,000 ',
       '$693,000,000 ', '$33,000,000 ', 200000.0, 100000.0, nan, 400000.0,
       340000.0, 600000.0, 45000000.0, 1000000.0, 2000000.0, 1200000.0,
       660000000.0, 120000.0, 7500000.0, 5000000.0, 500000.0, 3000000.0,
       10000000.0, 145000000.0, 100000000.0, 21000000.0, 4000000.0,
       20000000.0, 560000.0, 275000.0, 4500000.0, 15000000.0, 390000000.0,
       7000000.0, 5100000.0, 700000000.0, 2300000.0, 700000.0, 19000000.0,
       9000000.0, 40000000.0, 750000.0, 1500000.0, 7800000.0, 50000000.0,
       80000000.0, 30000000.0, 1700000.0, 2500000.0, 40000.0, 33000000.0,
       35000000.0, 300000.0, 25000000.0, 3500000.0, 200000000.0,
       6000000.0, 1300000.0, 4100000.0, 575000.0, 800000.0, 28000000.0,
       18000000.0, 3200000.0, 900000.0, 250000.0, 4700000.0, 75000000.0,
       8000000.0, 121000000.0, 55000000.0, 3300000.0, 11000000.0,
       16000000.0, 5400000.0, 150000000.0, 4200000.0, 22000000.0,
       52000000.0, 1100000.0, 118000000.0, 1600000.0, 18500000.0,
       70000000000.0, 800000000.0, 400000000.0, 150000.0, 176000000.0,
       60000000.0, 470000.0, 240000.0, 3000000000.0, 74000000.0,
       62000000.0, 2100000.0, 500000000.0, 12500000.0, 2200000000.0,
       5060000.0, 225000000.0, 24700000.0, 7700000.0, 19067328.0,
       51000000.0, 115000.0, 54000.0, 20000.0, 803146.0, 238000.0,
       10220000.0, 1020000.0, 12000000.0, 13400000.0, 170000000.0,
       2900000.0, 543000.0, 90000000.0, 3400000.0, 23000000.0, 8090000.0,
       1030000.0, 5040000.0, 360000.0, 1400000.0, 650000.0, 54000000.0,
       42500000.0, 11370000.0, 325000.0, 410000.0, 450000.0, 682000.0,
       4050000.0, 1050000.0, 1080000.0, 4300000.0, 6800000.0, 2110000.0,
       764000.0, 603000.0, 409000.0, 292000.0, 286000.0, 136000.0,
       546000.0, 887000.0, 43000.0, 40900.0, 2200000.0, 5660000.0,
       350000.0, 110000.0, 122000000.0, 11635000.0, 2800000.0, 1065000.0,
       669000.0, 16076000.0, 649600.0, 6700000.0, 220000.0, 266500.0,
       2879000.0, 26500000.0, 351000.0, 46761000.0, 175000.0, 11241000.0,
       804000.0, 1340000.0, 467000.0, 133000.0, 3823000.0, 934000.0,
       293000.0, 198000.0, 927000.0, 971000.0, 3060000.0, 1862000.0,
       232000.0, 2888000.0, 1328000.0, 15500000.0, 56000000.0, 2250000.0,
       16753000.0, 3700000.0, 1470000.0, 530000.0, 267000.0, 3344000.0,
       7200000.0, 2743000.0, 6082000.0, 6609000.0, 27700000.0, 5940000.0,
       3964000.0, 5500000.0, 197000.0, 4327000.0, 459000.0, 3937000.0,
       1313500.0, 229800.0, 5305000.0, 264000.0, 1750000.0, 5967000.0,
       2980000.0, 323000.0, 1326000.0, 27000000.0, 5200000.0, 2530000.0,
       792000.0, 11363000.0, 1715000.0, 329000.0, 5271000.0, 8700000.0,
       3226000.0, 5900000.0, 44000000.0, 3879000.0, 13000000.0, 8800000.0,
       9500000.0, 920000.0, 35600000.0, 9400000.0, 790000.0, 480000.0,
       160000.0, 8200000.0, 4257000.0, 1410000.0, 349800.0, 786000.0,
       2004000.0, 123000000.0, 248000.0, 24000000.0, 14259000.0,
       24500000.0, 3800000.0, 18370000.0, 68525000.0, 4800000.0,
       1834000.0, 23850000.0, 43000000.0, 21600000.0, 4598000.0,
       13137000.0, 115000000.0, 3900000.0, 670000.0, 8500000.0, 3148000.0,
       2600000.0, 4049500.0, 10500000.0, 6500000.0, 43700000.0,
       13800000.0, 306900.0, 420000.0, 627300.0, 113000000.0, 32000000.0,
       110000000.0, 1397000.0, 448500.0, 7975700.0, 330000.0, 5600000.0,
       1402000.0, 21500000.0, 296000000.0, 4900000.0, 1402400.0,
       12618300.0, 9900000.0, 982530.0, 70185200.0, 210000000.0,
       84000000.0, 39000000.0, 2700000.0, 1403400.0, 105000000.0,
       103000000.0, 281300.0, 12700.0, 25000.0, 97500000.0, 507000.0,
       8400000.0, 18300000.0, 125000000.0, 181000.0, 280000.0, 14700000.0,
       13200000.0, 8043000.0, '$1,200,000', '$120,000,000', '$51,000,000',
       '$188,000,000', '$700,000', '$9,000,000', '$49,000,000',
       '$400,000', '$300,000', '$25,000,000', '$160,000,000',
       '$1,800,000', '$850,000', '$53,000,000', '$500,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$600,000',
       '$800,000,000', '$17,000,000', '$3,500,000', '$15,000,000',
       '$215,000,000', '$2,500,000', '$350,000,000', '$5,500,000',
       '$83,000,000', '$110,000,000', '$500,000,000', '$65,000,000',
       '$150,000,000,000', '$300,000,000', '$2,200,000', '$140,000,000',
       '$4,000,000', '$13,000,000', None, '$Undisclosed', '$2000000',
       '$800000', '$6000000', '$2500000', '$9500000', '$13000000',
       '$5000000', '$8000000', '$1000000', 'Upsparks', '$200000',
       '$12000000', '$1500000', '$1700000', '$5500000', '$400000',
       '$150000000', '$4000000', '$100000000', '$500000', '$15000000',
       '$10000000', '$40000000', '$225000000', '$6700000', '$1300000',
       '$20000000', '$250000', '$21000000', '$1200000', '$52000000',
       '$3800000', '$17500000', '$42000000', '$2300000', '$7000000',
       '$30000000', '$450000000', '$28000000', '$300000', '$3500000',
       '$8500000', '$25000000', '$3000000', '$37000000', '$370000000',
       '$700000', '$16000000', '$100000', '$44000000', '$770000',
       '$125000000', '$35000000', '$50000000', '$4900000', '$145000000',
       '$22000000', '$70000000', '$6600000', '$32000000', '$24000000',
       '$725000', '$461000', 'Series C', 'Seed', '$96000000', '$60000000',
       '$500000000', '$266000000', '$4500000', '$325000000', '$6500000',
       '$1600000', '$150000', '$225000', '$85000000', '$235000',
       '$260000', '$2900000', '$53000000', '$1100000', '$86000000',
       '$130000', '$$100,00', '$111000000', '$265000', '$76000000',
       '$75,000,000', '$3,800,000', '$12,000,000', '$1,600,000',
       '$260,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$16,000,000', '$280,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [26]:
merged_df['funding_stage'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round', nan, 'Fresh funding',
       'Pre series A', 'Series G', 'Post series A', 'Seed funding',
       'Seed fund', 'Series F', 'Series B+', 'Seed round', 'Pre-series A',
       None, 'Pre-seed', 'Pre-series', 'Debt', 'Pre-series C',
       'Pre-series B', 'Bridge', 'Series B2', 'Pre- series A', 'Edge',
       'Pre-Series B', 'Seed A', 'Series A-1', 'Seed Funding',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Seed Round', 'Bridge Round', 'Pre seed round', 'Pre series B',
       'Pre series C', 'Seed Investment', 'Series D1', 'Mid series',
       'Series C, D', '$1200000', 'Seed+', 'Series F2', 'Series A+',
       'Series B3', 'PE', 'Series F1', 'Pre-series A1', '$300000',
       'Early seed', '$6000000', '$1000000', 'Seies A', 'Series A2',
       'Series I'], dtype=object)

In [27]:

# initialize a list with all words in the amount column
mist = ['None','Upsparks','Series C', 'Seed','ah! Ventures','Pre-series A', 'ITO Angel Network, LetsVenture','JITO Angel Network, LetsVenture']
#get the index of the list 
mist_index = merged_df.index[merged_df['Amount_in_usd'].isin(mist)]
#initialize a list of figures in funding_stage column
stage_values = ['$1200000','$300000','$6000000','$1000000']
#get the index of the list
stage_index = merged_df.index[merged_df['funding_stage'].isin(stage_values)]
#view entries in wrong columns which is the sum of the mist_index and stage_index
merged_df.loc[[1764, 1903, 1904, 2185, 2192, 2198, 2321,2324, 2795]]

#correct entries in the wrong columns by creating a list
corrections ={
        1764: {'Amount_in_usd':'$1200000','Investor':'Upsparks','Location':'undisclosed','Founders':'Pritesh Kumar, Bharat Gupta','funding_stage':'undisclosed'},
        1903: {'Amount_in_usd':'$22000000','Investor':'Morgan Stanley Private Equity Asia',
              'Location':'None','Founders':'Varun Khanna','industry':'Pharmaceuticals',
              'funding_stage':'Series C','about_company':'Development and Manufacturing'},
        1904: {'Amount_in_usd':'$5000000','Investor':'Anshuman Maheshwary, Dr Srihari Raju Kalidindi','Founders':'Vikash Mishra, Mragank Jain',
              'industry':'None','funding_stage':'Seed',
              'about_company':"MoEVing is India's only Electric Mobility focu.."},
        2185: {'Amount_in_usd':'$300000','Investor':'ah! Ventures','Founders':'Vishal Gupta',
              'funding_stage':'None','about_company':'Holistic Development Programs for children in Soft Skills that make Smart Leaders'},
        2192: {'Amount_in_usd':'$1000000','funding_stage':'Pre-series A','Investor':'None'},
        2198: {'Amount_in_usd':'$300000','Investor':'JITO Angel Network, LetsVenture','Founders':'Omkar Pandharkame, Ketaki Ogale',
             'funding_stage':'None'},
       2321: {'Amount_in_usd':'$6000000','funding_stage':'None'},
       2324: {'Amount_in_usd':'$1000000','Investor':'JITO Angel Network, LetsVenture','funding_stage':'None'},
       2795:{'Amount_in_usd':'1000000','funding_stage':'Seed','Investor':'None'}
}

# Loop through each index and update the values
for index, new_values in corrections.items():
    for column, value in new_values.items():
        if column in merged_df.columns:
            merged_df.at[index, column] = value



# Preview rows with amount vales showing $Undisclosed, $undisclosed, and Undisclosed
undisclosed_list = ['$Undisclosed', '$undisclosed', 'Undisclosed']

# Get the index for all rows with undisclosed
undisclosed_index = merged_df.index[merged_df['Amount_in_usd'].isin(undisclosed_list)]

# Replace undisclosed values with NA
merged_df.loc[undisclosed_index, ['Amount_in_usd']] = merged_df.loc[undisclosed_index, ['Amount_in_usd']].replace(undisclosed_list, np.nan)




def clean_amount(amount):
    """
    Cleans the 'Amount_in_usd' column by removing unwanted symbols and converting to float.
    If the amount is in rupees (₹), it converts to USD.
    """
    if isinstance(amount, str):
        # Remove unwanted symbols
        clean_amount = amount.replace('$', '').replace('₹', '').replace(',', '').replace('-', 'np.nan')
        # Convert to float
        try:
            clean_amount = float(clean_amount)
        except ValueError:
            return np.nan
        # Convert rupees to USD if applicable
        if '₹' in amount:
            clean_amount *= 0.0146
        return clean_amount
    elif isinstance(amount, (int, float)):
        return float(amount)
    else:
        return np.nan

merged_df['Amount_in_usd'] = merged_df['Amount_in_usd'].apply(clean_amount)

merged_df['Amount_in_usd']

0         250000.0
1         584000.0
2         949000.0
3        2000000.0
4              NaN
           ...
2851     3000000.0
2852    20000000.0
2853    55000000.0
2854    26000000.0
2855     8000000.0
Name: Amount_in_usd, Length: 2856, dtype: float64

In [28]:
# check for missing values
merged_df['Amount_in_usd'].isna().sum()

#the null values include undisclosed amount, we will fill the median considering outliers and skewness

merged_df['Amount_in_usd'].fillna(merged_df['Amount_in_usd'].median(), inplace=True)

merged_df['Amount_in_usd'].isna().sum()

0

#### Cleaning the location column
- wrong entries from other columns found in location and has to be corrected.

In [29]:
#check unique values in the location column
merged_df.Location.unique()

array(['Bangalore, Karnataka, India', 'Mumbai, Maharashtra, India',
       'Gurgaon, Haryana, India', 'Noida, Uttar Pradesh, India',
       'Hyderabad, Andhra Pradesh, India', 'Bengaluru, Karnataka, India',
       'Kalkaji, Delhi, India', 'Delhi, Delhi, India', 'India, Asia',
       'Hubli, Karnataka, India', 'New Delhi, Delhi, India',
       'Chennai, Tamil Nadu, India', 'Mohali, Punjab, India',
       'Kolkata, West Bengal, India', 'Pune, Maharashtra, India',
       'Jodhpur, Rajasthan, India', 'Kanpur, Uttar Pradesh, India',
       'Ahmedabad, Gujarat, India', 'Azadpur, Delhi, India',
       'Haryana, Haryana, India', 'Cochin, Kerala, India',
       'Faridabad, Haryana, India', 'Jaipur, Rajasthan, India',
       'Kota, Rajasthan, India', 'Anand, Gujarat, India',
       'Bangalore City, Karnataka, India', 'Belgaum, Karnataka, India',
       'Thane, Maharashtra, India', 'Margão, Goa, India',
       'Indore, Madhya Pradesh, India', 'Alwar, Rajasthan, India',
       'Kannur, Kerala, India', 'Trivandrum, Kerala, India',
       'Ernakulam, Kerala, India', 'Kormangala, Karnataka, India',
       'Uttar Pradesh, India, Asia', 'Andheri, Maharashtra, India',
       'Mylapore, Tamil Nadu, India', 'Ghaziabad, Uttar Pradesh, India',
       'Kochi, Kerala, India', 'Powai, Assam, India',
       'Guntur, Andhra Pradesh, India', 'Kalpakkam, Tamil Nadu, India',
       'Bhopal, Madhya Pradesh, India', 'Coimbatore, Tamil Nadu, India',
       'Worli, Maharashtra, India', 'Alleppey, Kerala, India',
       'Chandigarh, Chandigarh, India', 'Guindy, Tamil Nadu, India',
       'Lucknow, Uttar Pradesh, India', nan, 'Mumbai', 'Chennai',
       'Telangana', 'Pune', 'Bangalore', 'Noida', 'Delhi', 'Ahmedabad',
       'Gurugram', 'Haryana', 'Chandigarh', 'Jaipur', 'New Delhi',
       'Surat', 'Uttar pradesh', 'Hyderabad', 'Rajasthan', 'Indore',
       'Gurgaon', 'Belgaum', 'Andheri', 'Kolkata',
       'Tirunelveli, Tamilnadu', 'Thane', None, 'Singapore', 'Gujarat',
       'Kerala', 'Jodhpur', 'Jaipur, Rajastan',
       'Frisco, Texas, United States', 'California', 'Dhingsara, Haryana',
       'New York, United States', 'Patna',
       'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US', 'Cochin',
       'Samastipur, Bihar', 'Irvine, California, United States',
       'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan', 'Kochi',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'New York', 'Bangkok', 'Kanpur', 'Warangal', 'Hyderebad',
       'Odisha', 'Bihar', 'Goa', 'Tamil Nadu', 'Uttar Pradesh', 'Bhopal',
       'Banglore', 'Coimbatore', 'Bengaluru', 'Ahmadabad',
       'Small Towns, Andhra Pradesh', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'undisclosed', 'Vadodara',
       'Food & Beverages', 'None', 'Gurugram\t#REF!', 'Mohali', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Samsitpur', 'Lucknow',
       'Silvassa', 'Thiruvananthapuram', 'Faridabad', 'Roorkee',
       'Ambernath', 'Panchkula', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Santra',
       'Mountain View, CA', 'Trivandrum', 'Jharkhand', 'Bhilwara',
       'Guwahati', 'Online Media\t#REF!', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar'],
      dtype=object)

In [30]:
#wrong entries from other columns found in location and has to be corrected.
# initialize a list with all wrong entries  in the locattion column
wrong_loc = ['Food & Beverages','Online Media\t#REF!', 'Information Technology & Services']
#get the index of the list 
wrong_loc_index = merged_df.index[merged_df['Location'].isin(wrong_loc)]
#view entries in wrong columns and correct them
merged_df.loc[[1902, 2747, 2823]]
#correct entries in the wrong columns by creating a list
correct_entries ={
                1902: {'industry':'Food & Beverages','Location':'Hauz Khas'},
                2747: {'industry':'Online Media','Location':'None',
                        'Founders':'CA Harvinderjit Singh Bhatia, Garima Surana, A',
                      'about_company':'Sochcast is an Audio experiences company that ...',
                       'Investor':'Vinners, Raj Nayak, Amritaanshu Agrawal'},
                2823: {'industry':'Information Technology & Services','Location':'Manchester, Greater Manchester'}
                }
# Loop through each index and update the values
for index, new_values in correct_entries.items():
    for column, value in new_values.items():
        if column in merged_df.columns:
            merged_df.at[index, column] = value


# # Split the location Column into City, State and Country
merged_df[["city", "state","country"]] = merged_df["Location"].str.split(",", n=2, expand=True)

merged_df["city"].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad',
       'Bengaluru', 'Kalkaji', 'Delhi', 'India', 'Hubli', 'New Delhi',
       'Chennai', 'Mohali', 'Kolkata', 'Pune', 'Jodhpur', 'Kanpur',
       'Ahmedabad', 'Azadpur', 'Haryana', 'Cochin', 'Faridabad', 'Jaipur',
       'Kota', 'Anand', 'Bangalore City', 'Belgaum', 'Thane', 'Margão',
       'Indore', 'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam',
       'Kormangala', 'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad',
       'Kochi', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore',
       'Worli', 'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow', nan,
       'Telangana', 'Gurugram', 'Surat', 'Uttar pradesh', 'Rajasthan',
       'Tirunelveli', None, 'Singapore', 'Gujarat', 'Kerala', 'Frisco',
       'California', 'Dhingsara', 'New York', 'Patna', 'San Francisco',
       'San Ramon', 'Paris', 'Plano', 'Sydney', 'San Francisco Bay Area',
       'Bangaldesh', 'London', 'Milano', 'Palmwoods', 'France',
       'Samastipur', 'Irvine', 'Tumkur', 'Newcastle Upon Tyne',
       'Shanghai', 'Jiaxing', 'Rajastan', 'Ludhiana', 'Dehradun',
       'San Franciscao', 'Tangerang', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'Bangkok', 'Warangal', 'Hyderebad', 'Odisha', 'Bihar',
       'Goa', 'Tamil Nadu', 'Banglore', 'Ahmadabad', 'Small Towns',
       'Rajsamand', 'Ranchi', 'undisclosed', 'Vadodara', 'Hauz Khas',
       'None', 'Gurugram\t#REF!', 'Nagpur', 'West Bengal', 'Samsitpur',
       'Silvassa', 'Thiruvananthapuram', 'Roorkee', 'Ambernath',
       'Panchkula', 'Mangalore', 'Telugana', 'Bhubaneswar', 'Kottayam',
       'Beijing', 'Panaji', 'Satara', 'Orissia', 'Santra',
       'Mountain View', 'Jharkhand', 'Bhilwara', 'Guwahati', 'Manchester',
       'The Nilgiris', 'Gandhinagar'], dtype=object)

#### cleaning the city column
#Azadpur is a locality located in Delhi city,Kalkaji is a localty in south delhi,Koramangala is a locality in Bangalore
#Kochi or Cochin or Ernakulam is part of the district of Ernakulam in the state of Kerala,
#Uttar pradesh is a state,Rajasthan is a state,Dhingsara is a village in Haryana state,Warangal is a district in Telangana state
#Odisha is a state,Bihar is a state,Hauz Khas is a neighborhood in South Delhi,Samastipur is a city in Bihar
#map santra to satara

In [31]:
#remove \t#REF! from city column
merged_df['city'] = merged_df['city'].str.replace('\t#REF!','')

#define a function to correct city names wrongly spelt and mapped
def fix_city(cities):
    # Dictionary mapping incorrect city names to correct ones
    correct_city = {
        'Bengaluru': 'Bangalore',
        'Bangalore City': 'Bangalore',
        'Banglore': 'Bangalore',
        'Hyderebad': 'Hyderabad',
        'Gurgaon': 'Gurugram',
        'Thiruvananthapuram':'Trivandrum',
        'Kochi': 'Cochin',
        'Kormangala': 'Bangalore',
        'Ahmadabad': 'Ahmedabad',
        'Rajastan': 'Rajasthan',
        'Telugana': 'Telangana',
        'Orissia': 'Odisha',
        'Samsitpur': 'Samastipur',
        'San Franciscao': 'San Francisco',
        'San Francisco Bay Area': 'San Francisco',
        'Kalkaji': 'Delhi',
        'Azadpur': 'Delhi',
        'New Delhi': 'Delhi',
        'Bangaldesh': 'Bangladesh',
        'Santra':'Satara',
        'Warangal': 'Warangal',
        'Hauz Khas': 'Delhi',
        'Small Towns': 'unknown',
        'undisclosed': 'unknown'
    }
    return correct_city.get(cities, cities)

#apply correction to city column
merged_df['city'] = merged_df['city'].apply(fix_city)

#correct entries in city column where state is found at different rows
state_in_city = ['Uttar pradesh', 'Rajasthan','Odisha', 'Bihar','Telangana','Goa','Kerala','Tamil Nadu','Haryana','Gujarat','Punjab','Karnataka','Madhya Pradesh','Andhra Pradesh','Chandigarh','Uttarakhand','Jharkhand','West Bengal','Dadra and Nagar Haveli and Daman and Diu']

state_index = merged_df.index[merged_df['city'].isin(state_in_city)]

#index positions of states found in city column
state_index = [84,  102,  142,  289,  417,  420,  426,  433,  469,  480,  492,  521,529,551,  557,607,613,  712,  
               716,  718,724,  740,  766,  787,923,  945,  960,  978, 1082, 1112,1207,1241,1307, 1315,1338, 1364,
               1370,1376, 1485, 1487, 1492, 1592,1602, 1639,1702, 1723, 1808,1839, 1981, 1989,1991, 2029, 2084,
               2087, 2097, 2315,2362, 2405,2491, 2501, 2556, 2603, 2721]

# Swap City and State values at the specified index positions
for idx in state_index:
    if idx < len(merged_df):
        merged_df.at[idx, 'state'], merged_df.at[idx, 'city'] = merged_df.at[idx, 'city'],np.nan

#countries in city column
country_in_city = ['India','Singapore','Bangladesh','France']

#locate the index positions of countries in city column
country_index = merged_df.index[merged_df['city'].isin(country_in_city)]

country_index = [12, 42, 59, 199, 705, 857, 886, 1011, 1069, 1094]

# Swap City and country values at the specified index positions
for idx in country_index:
    if idx < len(merged_df):
        merged_df.at[idx, 'country'], merged_df.at[idx, 'city'] = merged_df.at[idx, 'city'],np.nan
    
#change None to Nan and covert to string data type
merged_df['city'] = merged_df['city'].replace('None', 'nan').astype('str')
merged_df['city'] = merged_df['city'].replace('nan','unknown')

In [32]:
#check for missing values
print(f" number of missing value is :{merged_df['city'].isna().sum()}")

# Display the cleaned city columns
merged_df['city'].unique()

 number of missing value is :0

array(['Bangalore', 'Mumbai', 'Gurugram', 'Noida', 'Hyderabad', 'Delhi',
       'unknown', 'Hubli', 'Chennai', 'Mohali', 'Kolkata', 'Pune',
       'Jodhpur', 'Kanpur', 'Ahmedabad', 'Cochin', 'Faridabad', 'Jaipur',
       'Kota', 'Anand', 'Belgaum', 'Thane', 'Margão', 'Indore', 'Alwar',
       'Kannur', 'Trivandrum', 'Ernakulam', 'Uttar Pradesh', 'Andheri',
       'Mylapore', 'Ghaziabad', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal',
       'Coimbatore', 'Worli', 'Alleppey', 'Guindy', 'Lucknow', 'Surat',
       'Tirunelveli', 'None', 'Frisco', 'California', 'Dhingsara',
       'New York', 'Patna', 'San Francisco', 'San Ramon', 'Paris',
       'Plano', 'Sydney', 'London', 'Milano', 'Palmwoods', 'Samastipur',
       'Irvine', 'Tumkur', 'Newcastle Upon Tyne', 'Shanghai', 'Jiaxing',
       'Ludhiana', 'Dehradun', 'Tangerang', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'Bangkok', 'Warangal', 'Rajsamand', 'Ranchi', 'Vadodara',
       'Nagpur', 'Silvassa', 'Roorkee', 'Ambernath', 'Panchkula',
       'Mangalore', 'Bhubaneswar', 'Kottayam', 'Beijing', 'Panaji',
       'Satara', 'Mountain View', 'Bhilwara', 'Guwahati', 'Manchester',
       'The Nilgiris', 'Gandhinagar'], dtype=object)

cleaning the state column

In [33]:
#view the state column unique values
merged_df['state'].unique()

array([' Karnataka', ' Maharashtra', ' Haryana', ' Uttar Pradesh',
       ' Andhra Pradesh', ' Delhi', ' Asia', ' Tamil Nadu', ' Punjab',
       ' West Bengal', ' Rajasthan', ' Gujarat', 'Haryana', ' Kerala',
       ' Goa', ' Madhya Pradesh', ' India', ' Assam', 'Chandigarh', nan,
       None, 'Telangana', 'Uttar pradesh', 'Rajasthan', ' Tamilnadu',
       'Gujarat', 'Kerala', ' Rajastan', ' Texas', ' United States',
       ' California', ' Ile-de-France', ' Silicon Valley', ' England',
       ' New South Wales', ' Lombardia', ' Queensland', ' West Coast',
       ' Bihar', ' Newcastle upon Tyne', ' China', ' Zhejiang',
       ' Jawa Barat', 'Odisha', 'Bihar', 'Goa', 'Tamil Nadu',
       'West Bengal', ' CA', 'Jharkhand', ' Greater Manchester'],
      dtype=object)

In [34]:
#remove whitespaces and replace None wih Nan
merged_df['state'] = merged_df['state'].str.strip().replace('None', np.nan)

# Define a mapping of incorrect to correct state names
def fix_state(states):
    state_mapping = {'Uttar pradesh': 'Uttar Pradesh',
                    'Tamilnadu': 'Tamil Nadu',
                    'Rajastan': 'Rajasthan', 
                   'Ile-de-France': 'Île-de-France', 
                   'Lombardia': 'Lombardy',
                  'CA': 'California'}
    return state_mapping.get(states, states)

# Correct the state names
merged_df['state'] = merged_df['state'].apply(fix_state)


#countries in state column
country_in_state = ['India','United States','China']

#locate the index positions of countries in state column
countries_index = merged_df.index[merged_df['state'].isin(country_in_state)]

countries_index = [240, 799, 837, 876, 915]

# Swap state and country values at the specified index positions
for idx in countries_index:
    if idx < len(merged_df):
        merged_df.at[idx, 'country'], merged_df.at[idx, 'state'] = merged_df.at[idx, 'state'],np.nan
    
#change None to Nan and covert to string data type
merged_df['state'] = merged_df['state'].replace('None', 'Nan').astype('str')


# # # Get only the countries from the 'State' column
# # countries = merged_df[merged_df['state'].apply(lambda x: isinstance(x, str))]['state'].unique()
# # countries

# Display the cleaned DataFrame
merged_df['state'].unique()

array(['Karnataka', 'Maharashtra', 'Haryana', 'Uttar Pradesh',
       'Andhra Pradesh', 'Delhi', 'Asia', 'Tamil Nadu', 'Punjab',
       'West Bengal', 'Rajasthan', 'Gujarat', 'Kerala', 'Goa',
       'Madhya Pradesh', 'nan', 'Assam', 'Chandigarh', 'None',
       'Telangana', 'Texas', 'California', 'Île-de-France',
       'Silicon Valley', 'England', 'New South Wales', 'Lombardy',
       'Queensland', 'West Coast', 'Bihar', 'Newcastle upon Tyne',
       'Zhejiang', 'Jawa Barat', 'Odisha', 'Jharkhand',
       'Greater Manchester'], dtype=object)

In [35]:
#check for missing values
merged_df['state'].isna().sum()

0

In [36]:
# we will map cities to state and fill the na

# Dictionary to map cities to their respective states
city_to_state = {
    'Bangalore': 'Karnataka', 'Mumbai': 'Maharashtra', 'Gurugram': 'Haryana', 'Noida': 'Uttar Pradesh',
    'Hyderabad': 'Telangana', 'Delhi': 'Delhi', 'Hubli': 'Karnataka', 'Chennai': 'Tamil Nadu',
    'Mohali': 'Punjab', 'Kolkata': 'West Bengal', 'Pune': 'Maharashtra', 'Jodhpur': 'Rajasthan',
    'Kanpur': 'Uttar Pradesh', 'Ahmedabad': 'Gujarat', 'Cochin': 'Kerala', 'Faridabad': 'Haryana',
    'Jaipur': 'Rajasthan', 'Kota': 'Rajasthan', 'Anand': 'Gujarat', 'Belgaum': 'Karnataka',
    'Thane': 'Maharashtra', 'Margão': 'Goa', 'Indore': 'Madhya Pradesh', 'Alwar': 'Rajasthan',
    'Kannur': 'Kerala', 'Trivandrum': 'Kerala', 'Ernakulam': 'Kerala', 'Uttar Pradesh': 'Uttar Pradesh',
    'Andheri': 'Maharashtra', 'Mylapore': 'Tamil Nadu', 'Ghaziabad': 'Uttar Pradesh', 'Powai': 'Maharashtra',
    'Guntur': 'Andhra Pradesh', 'Kalpakkam': 'Tamil Nadu', 'Bhopal': 'Madhya Pradesh', 'Coimbatore': 'Tamil Nadu',
    'Worli': 'Maharashtra', 'Alleppey': 'Kerala', 'Guindy': 'Tamil Nadu', 'Lucknow': 'Uttar Pradesh',
    'Surat': 'Gujarat', 'Tirunelveli': 'Tamil Nadu', 'Warangal': 'Telangana', 'Rajsamand': 'Rajasthan',
    'Ranchi': 'Jharkhand', 'Vadodara': 'Gujarat', 'Nagpur': 'Maharashtra', 'Silvassa': 'Dadra and Nagar Haveli and Daman and Diu',
    'Roorkee': 'Uttarakhand', 'Ambernath': 'Maharashtra', 'Panchkula': 'Haryana', 'Mangalore': 'Karnataka',
    'Bhubaneswar': 'Odisha', 'Kottayam': 'Kerala', 'Panaji': 'Goa', 'Satara': 'Maharashtra',
    'Bhilwara': 'Rajasthan', 'Guwahati': 'Assam', 'The Nilgiris': 'Tamil Nadu', 'Gandhinagar': 'Gujarat',
    'Patna': 'Bihar', 'Samastipur': 'Bihar', 'Tumkur': 'Karnataka'
}

# # Map the cities to their respective states
merged_df['state'] = merged_df['city'].map(city_to_state)

# # # Replace 'nan' and 'None' values in the City column with np.nan
# merged_df['city'].replace(['nan', 'None', 'unknown'], np.nan, inplace=True)

# Replace np.nan in the State column with the mapped state from the City column
merged_df['state'].fillna(merged_df['city'].map(city_to_state),inplace = True)

# Replace 'nan' values in the State column with unknown
merged_df['state'].str.replace('nan','unknown').replace(' ','unknown')

# Display the DataFrame

merged_df['state'].unique()

array(['Karnataka', 'Maharashtra', 'Haryana', 'Uttar Pradesh',
       'Telangana', 'Delhi', nan, 'Tamil Nadu', 'Punjab', 'West Bengal',
       'Rajasthan', 'Gujarat', 'Kerala', 'Goa', 'Madhya Pradesh',
       'Andhra Pradesh', 'Bihar', 'Jharkhand',
       'Dadra and Nagar Haveli and Daman and Diu', 'Uttarakhand',
       'Odisha', 'Assam'], dtype=object)

In [37]:
merged_df['state'].isna().sum()

237

In [38]:
#cleaning the country column

merged_df['country'].unique()

array([' India', 'India', nan, None, 'Singapore', ' United States',
       'United States', ' France', ' West Coast', 'Bangladesh',
       ' United Kingdom', ' Australia', ' Italy', 'France', ' Western US',
       'China', ' China', ' Indonesia'], dtype=object)

In [39]:
#remove whitespaces
merged_df['country'] = merged_df['country'].str.strip()
# Dictionary to map states to their respective countries
state_to_country = {
    'Karnataka': 'India', 'Maharashtra': 'India', 'Haryana': 'India', 'Uttar Pradesh': 'India',
    'Telangana': 'India', 'Delhi': 'India', 'Tamil Nadu': 'India', 'Punjab': 'India',
    'West Bengal': 'India', 'Rajasthan': 'India', 'Gujarat': 'India', 'Kerala': 'India',
    'Goa': 'India', 'Madhya Pradesh': 'India', 'Andhra Pradesh': 'India', 'Bihar': 'India',
    'Jharkhand': 'India', 'Dadra and Nagar Haveli and Daman and Diu': 'India', 'Uttarakhand': 'India',
    'Odisha': 'India', 'Assam': 'India', 'Unknown': 'Unknown'
}

# Map the states to their respective countries
merged_df['country'] = merged_df['country'].fillna(merged_df['state'].map(state_to_country))
# # Map the states to their respective countries
# df['Country'] = df['Country'].fillna(df['State'].map(state_to_country))

# Display the DataFrame
merged_df['country'].unique()

array(['India', nan, 'Singapore', 'United States', 'France', 'West Coast',
       'Bangladesh', 'United Kingdom', 'Australia', 'Italy', 'Western US',
       'China', 'Indonesia'], dtype=object)

In [40]:
#drop the location column
merged_df.drop(columns='Location',inplace = True)

#### Cleaning the Industry Column
From research, there are 15 sectors in India where all these values in the sector column of the dataset can be generalised into. They are therefore mapped onto the 15 sectors which include:

IT & Technology
Financial Services
Healthcare & Life Sciences
Consumer Goods
Business Services
Media & Entertainment
Education
Manufacturing
Retail
Transportation & Logistics
Sports
Agriculture
Real Estate
Travel & Tourism
Energy
Others
source: https://www.businessinsider.in/business/startups/news/top-10-industries-for-new-startups-in-india-as-per-hurun-list/articleshow/105651758.cms

In [41]:
#check the unique values in location and inconsistencies
merged_df['industry'].unique()

array(['Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech',
       'E-Commerce Platforms, Retail, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Information Services, Information Technology', 'Mobile Payments',
       'B2B, Shoes', 'Internet',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Food Delivery', 'Industrial Automation',
       'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Financial Services', 'Food and Beverage', 'Autonomous Vehicles',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Agriculture, Analytics, Big Data, Farming',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Artificial Intelligence',
       'Internet of Things, Telecommunications', 'Insurance',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food', 'Education',
       'E-Commerce, Fashion, Jewelry, Retail', 'Renewable Energy',
       'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety', 'Transportation',
       'Fitness, Health Care, Wellness',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Hospitality', 'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '—', 'Sports',
       'Big Data, Consumer Lending, FinTech',
       'Cloud Computing, Computer, Semiconductor',
       'Health Care, Medical, Pharmaceutical', 'Food Processing, Retail',
       'Trading Platform', "Consumer Goods, Lifestyle, Men's", 'Wellness',
       'Food and Beverage, Food Processing, Nutrition', 'Fashion',
       'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Health Care',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Communities, Coworking, Incubators',
       'Consumer, Financial Services, FinTech',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Advertising, Consulting, Digital Marketing',
       'Marketplace, Real Estate, Rental Property',
       'E-Learning, Internet, Video Games',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology', 'Aerospace',
       'E-Commerce, Fashion, Lifestyle',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Artificial Intelligence, Social',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'E-Learning, Education, Higher Education', 'Health Diagnostics',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Renewable Energy', 'E-Learning',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Health Care, Medical Device, Public Safety',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'Software',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail', 'Manufacturing',
       'Information Services, Information Technology, InsurTech',
       'Consumer Lending, FinTech', 'Internet, Social Network, TV',
       'Beauty, Health Care', 'Hospital', 'Events',
       '3D Printing, Manufacturing, Product Design', 'Automotive',
       'Automotive, Retail', 'Apps, Audio', 'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Government, Information Technology, Software',
       'Information Technology',
       'Education, Information Technology, Internet, Mobile, Software',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'Automotive, Battery, Energy, Energy Storage',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Rental',
       'Travel', 'Consumer', 'B2B, Farming, Marketplace',
       'Wealth Management', 'Biotechnology',
       'Education, Gaming, Training', 'Veterinary',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate', 'Finance',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Food and Beverage, Food Processing',
       'Internet, Marketplace, Shopping',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Facilities Support Services',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical', 'Music Streaming',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship', 'Retail',
       'Finance, Impact Investing, Mobile Apps',
       'Cloud Computing, Computer, Software',
       'Business Development, Market Research, Outsourcing',
       'Health Care, Hospitality', 'Internet, Social News, Sports',
       'Human Resources', 'Finance, Financial Services, FinTech',
       'Customer Service, Software, Video, Video Streaming',
       'E-Commerce, Food Processing', 'Training',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning', 'Nanotechnology',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'Digital Media', 'File Sharing, Personalization, Social Media',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Children, Education, Online Portals', 'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Delivery, Information Technology, Mobile Apps',
       'Environmental Consulting, Renewable Energy',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Digital Media, Incubators, Social Entrepreneurship',
       'Finance, Financial Services, Marketing',
       'Biotechnology, Health Care, Life Science, Medical Device',
       'Education, Human Resources', 'Consumer Electronics',
       'Apps, Health Care, Hospital, Mobile Apps',
       'Delivery Service, Logistics, Service Industry',
       'Big Data, Data Visualization, Logistics, Software',
       'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball',
       'Media and Entertainment, News, Publishing', 'Consulting',
       'Big Data, Financial Services, Machine Learning, Predictive Analytics',
       'Agriculture, AgTech, Manufacturing',
       'Digital Media, News, Publishing', 'Health Care, Hospital',
       'B2B, E-Commerce, Enterprise',
       'Fraud Detection, Information Services, Security',
       'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning',
       'Cryptocurrency, Trading Platform',
       'Finance, FinTech, Mobile Payments', 'Wedding',
       'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education',
       'Consumer Goods', 'Digital Entertainment',
       'Crowdsourcing, Financial Services, Funding Platform, Venture Capital',
       'Delivery, Drones, Geospatial, Robotics',
       'Health Care, Information Technology, Management Information Systems',
       'Farming',
       'Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations',
       'Career Planning, Education, Higher Education, Service Industry',
       'Medical Device', 'Alternative Medicine, Health Care',
       'Internet, Software',
       'Dental, Elder Care, Health Care, Home Health Care, Personal Health',
       'Financial Services, Insurance, Private Social Networking',
       'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping',
       'CleanTech', 'Advertising, Internet, Marketing',
       'Human Resources, Security, Training',
       'Consumer Lending, Finance, FinTech',
       'Marketing, Social Media, Video', 'Banking', 'Food Processing',
       'Apps', 'Marketing',
       'Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation',
       'Digital Entertainment, Fantasy Sports, Gaming, Sports',
       'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing',
       'Commercial, E-Learning, Education',
       'Continuing Education, EdTech, Education, Skill Assessment',
       'Smart Cities, Telecommunications', 'Internet of Things, Robotics',
       'Apps, Home Services, Information Services, Information Technology',
       'Medical, Tourism', 'Career Planning, Education, Internet',
       'Fashion, Graphic Design, Wearables',
       'Communities, Leisure, Mobile Apps, Software',
       'Automotive, Rental, Sharing Economy',
       'Energy, Environmental Consulting, Renewable Energy, Solar',
       'Information Technology, SaaS, Security',
       'Crowdfunding, Financial Services, Internet',
       'Customer Service, Information Technology, Internet, Sales Automation',
       'Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming',
       'Credit Cards, Payments, Property Insurance, Property Management, Rental Property',
       'Beauty, Cosmetics, Health Care, Service Industry',
       'EdTech, Education, Mobile, Tutoring', 'Social Media, Sports',
       'Biopharma', 'E-Commerce, E-Commerce Platforms, Retail',
       'E-Commerce, Fashion, Shopping',
       'Digital Entertainment, Mobile, PC Games',
       'Finance, Financial Services, Small and Medium Businesses',
       'Artificial Intelligence, Energy, Oil and Gas',
       'Computer, FinTech, Risk Management, Software',
       'Apps, Financial Services, FinTech',
       "Child Care, Health Care, Hospital, Medical, Women's",
       'Agriculture, Mobile',
       'Finance, FinTech, Payments, Property Development, Rental',
       'Information Services, Information Technology, Mobile, Software',
       'Apps, Fitness, Health Care, mHealth',
       'Food and Beverage, Food Delivery', 'Apps, Payments, Retail',
       'Health Insurance, Insurance, Life Insurance',
       'Rental, Taxi Service, Travel',
       'E-Commerce, E-Commerce Platforms, Internet, Retail',
       'Financial Services, Professional Services',
       'Customer Service, Messaging, Mobile Apps, Personalization',
       'Gaming, iOS, Sports',
       'E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media',
       'Search Engine',
       'Battery, Electric Vehicle, Energy, Renewable Energy, Transportation',
       'Agriculture, Farmers Market, Farming',
       'Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics',
       'Fitness, GreenTech, Internet of Things, Mobile Apps, Ride Sharing, Transportation',
       'Mobile, Software, Travel', 'Cosmetics',
       'Consulting, Cyber Security, Network Security',
       'eSports, Gaming, Video Games', 'Fashion, Jewelry',
       'B2B, Medical Device', 'Consumer Goods, Manufacturing',
       'Biotechnology, Health Care, Wellness',
       'Health Care, Hospital, Medical, Robotics',
       'E-Commerce, Fitness, Health Care',
       'Financial Services, Venture Capital', 'Accounting, Apps, FinTech',
       'Apps, Mobile, Transportation', 'Reading Apps',
       'Energy, Renewable Energy, Solar',
       'Banking, Financial Services, FinTech', 'Apps, Education, Retail',
       'Electric Vehicle',
       'Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design',
       'Automotive, E-Commerce, Marketplace', 'Agriculture',
       'Apps, Information Services, Information Technology',
       'B2B, Marketplace', 'Packaging Services',
       'Computer, Furniture, Software',
       'Food Delivery, Hospitality, Reservations, Restaurants, Search Engine',
       'Collaboration, Communities, Coworking, Real Estate',
       'Accounting, Banking, Finance',
       'Cloud Computing, Enterprise Software, Network Hardware, Network Security, SaaS',
       'Information Services, Internet, Logistics, Supply Chain Management, Transportation',
       'Automotive, E-Commerce, Information Services',
       'Delivery, Logistics, Transportation',
       'Automotive, E-Commerce Platforms, Marketplace',
       'Last Mile Transportation, Railroad, Transportation, Travel',
       'Cooking, E-Commerce, Food and Beverage, Food Delivery, Online Portals',
       'FinTech, Mobile, Mobile Payments, Payments, Retail Technology',
       'Online Games, Software',
       'Online Portals, Property Management, Rental',
       'E-Commerce, Food and Beverage, Tea',
       'Music, Social Network, Video',
       'Health Care, Pharmaceutical, Wellness',
       'Delivery Service, Food and Beverage, Food Delivery',
       'Hospitality, Information Technology, Travel Accommodations',
       'Biotechnology, Diabetes, Health Care',
       'Autonomous Vehicles, Last Mile Transportation, Recreational Vehicles, Rental',
       'Finance, Financial Exchanges, Financial Services, Micro Lending',
       'Analytics, Apps, Market Research',
       'E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet',
       'Apps, Mobile, Mobile Apps, Software',
       'News, Publishing, Social Media',
       'Industrial, Industrial Automation',
       'Internet, Mobile Apps, Social Network',
       'Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device',
       'E-Commerce, Furniture, Interior Design', 'Apps, Events, News',
       'Artificial Intelligence, Human Resources, Information Services, Information Technology',
       'Logistics, Railroad, Transportation',
       'Dating, Private Social Networking',
       'Artificial Intelligence, Machine Learning, PaaS',
       'Consumer, Furniture, Home Decor, Home Improvement',
       'Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation',
       'Health Care, Health Insurance', 'Energy, Natural Resources',
       'E-Commerce, Education, Health Care',
       'Apps, Health Care, Pharmaceutical',
       'Internet, Knowledge Management',
       'Credit, Finance, FinTech, Lending, Sales Automation',
       'Banking, Financial Services, Internet',
       'E-Commerce, Health Care, Retail',
       'Child Care, Information Technology',
       'Financial Services, Micro Lending',
       'E-Commerce, Retail, Shopping',
       'Food and Beverage, Snack Food, Tea',
       'Delivery Service, E-Commerce, Logistics',
       'Fashion, Lifestyle, Rental', 'Fantasy Sports, Mobile, Sports',
       'Beauty, Fashion, Wellness', 'Food and Beverage, Restaurants, Tea',
       'Fitness, Sporting Goods, Sports',
       'Food and Beverage, Food Processing, Manufacturing',
       'E-Learning, Internet', 'Eyewear, Internet',
       'Information Technology, Mobile, News, Operating Systems, Social Media, Social News',
       'FinTech, Internet, Payments, Service Industry',
       'B2B, Business Development, Internet, Marketplace',
       'Food and Beverage, Food Delivery, Internet',
       'Biotechnology, Health Care, Pharmaceutical', 'Ecommerce',

In [42]:
merged_df['industry'] = merged_df['industry'].str.capitalize()
merged_df['industry'].value_counts()

industry
Fintech                                               257
Edtech                                                215
Financial services                                     75
E-commerce                                             75
Healthcare                                             67
                                                     ...
Health insurance, insurance, life insurance             1
Rental, taxi service, travel                            1
E-commerce, e-commerce platforms, internet, retail      1
Financial services, professional services               1
Staffing & recruiting                                   1
Name: count, Length: 832, dtype: int64

In [43]:
# Get the first sentence of every list
merged_df['industry']=merged_df['industry'].str.split(",").str[0].astype('str')
merged_df['industry'].unique()
# merged_df['industry'].value_counts()

array(['Brand marketing', 'Agriculture', 'Credit', 'Financial services',
       'E-commerce platforms', 'Cloud infrastructure', 'Internet',
       'Market research', 'Information services', 'Mobile payments',
       'B2b', 'Apps', 'Food delivery', 'Industrial automation',
       'Automotive', 'Finance', 'Accounting', 'Artificial intelligence',
       'Internet of things', 'Air transportation', 'Food and beverage',
       'Autonomous vehicles', 'Enterprise software', 'Logistics',
       'Insurance', 'Information technology', 'Blockchain', 'Education',
       'E-commerce', 'Renewable energy', 'E-learning', 'Clean energy',
       'Transportation', 'Fitness', 'Hospitality',
       'Media and entertainment', 'Broadcasting', 'Edtech', 'Health care',
       '—', 'Sports', 'Big data', 'Cloud computing', 'Food processing',
       'Trading platform', 'Consumer goods', 'Wellness', 'Fashion',
       'Consulting', 'Biotechnology', 'Communities', 'Consumer',
       'Consumer applications', 'Mobile', 'Advertising', 'Marketplace',
       'Aerospace', 'Home decor', 'Energy', 'Digital marketing',
       'Creative agency', 'Consumer lending', 'Health diagnostics',
       'Banking', 'Embedded systems', 'Beauty', 'Agtech', 'Credit cards',
       'Software', 'Manufacturing', 'Hospital', 'Events', '3d printing',
       'Digital entertainment', 'Funding platform', 'Classifieds',
       'Enterprise resource planning (erp)', 'Audio', 'Government',
       'Digital media', 'Business intelligence', 'Children', 'Rental',
       'Travel', 'Wealth management', 'Veterinary', 'Tourism',
       'Consumer electronics', 'Analytics', 'Facilities support services',
       'Medical', 'Music streaming', 'Retail', 'Business development',
       'Human resources', 'Customer service', 'Training',
       'Dietary supplements', 'Collaboration', 'Nanotechnology',
       'File sharing', 'Crowdfunding', 'Catering', 'Computer', 'Android',
       'Delivery', 'Environmental consulting', 'Commercial real estate',
       'Delivery service', 'Basketball', 'Fraud detection',
       'Cryptocurrency', 'Wedding', 'Crowdsourcing', 'Farming',
       'Business travel', 'Career planning', 'Medical device',
       'Alternative medicine', 'Dental', 'Cleantech', 'Marketing',
       'Commercial', 'Continuing education', 'Smart cities',
       'Social media', 'Biopharma', 'Child care', 'Health insurance',
       'Gaming', 'Search engine', 'Battery', 'Cosmetics', 'Esports',
       'Reading apps', 'Electric vehicle', 'Packaging services',
       'Last mile transportation', 'Cooking', 'Fintech', 'Online games',
       'Online portals', 'Music', 'News', 'Industrial', 'Dating',
       'Fantasy sports', 'Eyewear', 'Ecommerce', 'Interior design',
       'Agritech', 'Technology', 'Saas', 'Ai & tech', 'E-commerce & ar',
       'Hr tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'Ai', 'Foodtech', 'Food',
       'Iot', 'E-marketplace', 'Robotics & ai', 'Food & nutrition', 'nan',
       'E-sports', 'Jewellery', 'B2b supply chain', 'Games',
       'Food & tech', 'Accomodation', 'Automotive tech', 'Legal tech',
       'Mutual funds', 'Cybersecurity', 'Automobile', 'Healthtech',
       'Yoga & wellness', 'Virtual banking', 'Transport & rentals',
       'Marketing & customer loyalty', 'Infratech',
       'Automobile & technology', 'Hygiene management', 'Escrow',
       'Networking platform', 'Food & bevarages', 'Fashion startup',
       'Food industry', 'Virtual auditing startup', 'Work fulfillment',
       'Ai startup', 'Telecommunication', 'Tech startup', 'Medtech',
       'Tyre management', 'Cloud company', 'Software company',
       'Venture capitalist', 'Renewable player', 'Iot startup',
       'Saas startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working startup', 'Finance company',
       'Tech company', 'Solar monitoring company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational ai platform', 'Real estate',
       'Saas platform', 'Ai platform', 'Fusion beverages', 'Job portal',
       'Dairy startup', 'Content management', 'Spacetech', 'Ai company',
       'Photonics startup', 'Entertainment', 'Scanning app',
       'Skincare startup', 'Food and beverages', 'Biotechnology company',
       'Proptech', 'Fitness startup', 'Paas startup', 'Beverages',
       'Automobiles', 'Deeptech', 'Ev startup', 'Ar/vr startup',
       'Recruitment startup', 'Qsr startup', 'Video platform',
       'Fertility tech', 'Luxury car startup', 'Fm', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail tech', 'Heathtech',
       'Sles and marketing', 'Legaltech', 'Car service',
       'Bike marketplace', 'Agri tech', 'Reatil startup', 'Ar platform',
       'Content marketplace', 'Rental space', 'Soil-tech',
       'Ayurveda tech', 'Packaging solution startup',
       'Sanitation solutions', 'Home design', 'Insuretech',
       'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social network', 'Publication', 'Tech', 'Venture capital',
       'Entreprenurship', 'Food devlivery', 'Warehouse',
       'Online financial service', 'Eyeglasses', 'Battery design',
       'Online credit management startup', 'Beverage', 'Traveltech',
       'Startup laboratory', 'Personal care startup',
       'Customer service company', 'Saas\xa0\xa0startup',
       'Marketing startup', 'Service industry', 'Ar startup',
       'Hr tech startup', 'Automotive startup', 'Food startup',
       'Edtech startup', 'Car trade', 'Edttech', 'Automation',
       'Solar saas', 'Wl & rac protection', 'Social commerce',
       'Home interior services', 'Agritech startup', 'Api platform',
       'Deep tech', 'Electricity', 'Automotive company', 'Fmcg',
       'Insurance tech', 'Video personalization', 'Biomaterial startup',
       'It', 'Craft beer', 'Investment', 'Linguistic spiritual',
       'Construction', 'Battery manufacturer',
       'Nano distribution network', 'Ai health', 'Dating app', 'Media',
       'Healthcare/edtech', 'Agritech/commerce', 'Mobility tech',
       'Social e-commerce', 'Food & logistics', 'Nutrition tech', 'Hr',
       'None', 'Ar/vr', 'Appliance', 'Mental health', 'B2b marketplace',
       'Fashion tech', 'Health & wellness', 'Cloud kitchen',
       'Iot/automobile', 'Eye wear', 'Digital tech', 'Data intelligence',
       'Co-living', 'Food & beverages', 'Defense tech',
       'Construction tech', 'Nutrition', 'Coworking', 'Micro-mobiity',
       'Auto-tech', 'Robotics', 'Logitech', 'Med tech', 'Life sciences',
       'Retail aggregator', 'Deep tech ai', 'Biotech', 'Hrtech',
       'Mobility/transport', 'Ai & debt', 'Saas/edtech', 'Transport',
       'Co-working', 'Insurtech', 'Legal', 'Ev', 'Supply chain', 'Pharma',
       'Foodtech & logistics', 'Housing', 'Data analytics',
       'Investment tech', 'Dairy', 'Beauty & wellness', 'Travel & saas',
       'Tourism & ev', 'Media tech', 'Location analytics', 'E store',
       'Data science', 'Health and fitness', 'Interior & decor',
       'Emobility', 'Automation tech', 'Media & networking', 'E-market',
       'Ai & data science', 'Travel tech', 'Automotive and rentals',
       'E-tail', 'Ai & media', 'Machine learning', 'Content marktplace',
       'Visual media', 'Hygiene', 'Vr & saas', 'Sales & services',
       'Ai & deep learning', 'Housing & rentals', 'Estore', 'E tailor',
       'E-mobility', 'Ad-tech', 'Neo-banking', 'Transport automation',
       'Techonology', 'Ai robotics', 'Preschool daycare', 'Food diet',
       'B2b agritech', 'E-connect', 'Tech hub', 'Consultancy', 'Pharmacy',
       'Deisgning', 'Taxation', 'Automobile technology', 'B2b e-commerce',
       'Home services', 'B2b service', 'Helathcare', 'Electronics',
       'It startup', 'Aeorspace', 'Oil and energy', 'Telecommuncation',
       'Milk startup', 'Ai chatbot', 'Video communication',
       'Skill development', 'Recruitment', 'Computer games',
       'Apparel & fashion', 'Logistics & supply chain', 'Sportstech',
       'Wine & spirits', 'Mechanical & industrial engineering',
       'Spiritual', 'Lifestyle', 'Computer software', 'Digital mortgage',
       'Information technology & services', 'Furniture', 'Healtcare',
       'Tobacco', 'Mlops platform', 'Pet care', 'Drone', 'Wholesale',
       'Consumer services', 'Venture capital & private equity', 'Ott',
       'Education management', 'Software startup',
       'Computer & network security', 'Capital markets',
       'Hospital & health care', 'Pharmaceuticals', 'Mobility',
       'Digital platform', 'B2b ecommerce', 'Online media',
       'Mobile games', 'Food production', 'Podcast', 'Content publishing',
       'Water purification', 'Content commerce', 'Innovation management',
       'Celebrity engagement', 'Personal care', 'Cannabis startup',
       'Blogging', 'Social audio', 'Fashion and lifestyle',
       'B2b manufacturing', 'Solar', 'Taas startup',
       'Manufacturing startup', 'Vehicle repair startup', 'Advisory firm',
       'Pollution control equiptment', 'Fashion & lifestyle', 'D2c',
       'Environmental services', 'Merchandise', 'Facilities services',
       'Marketing & advertising', 'D2c business', 'Nft marketplace',
       'Consumer software', 'Social community', 'Fishery',
       'Renewables & environment', 'Online storytelling', 'Aviation',
       'It company', 'Environmental service', 'Job discovery platform',
       'D2c fashion', 'Heathcare', 'Crm', 'D2c startup',
       'Community platform', 'Networking', 'Consumer service', 'Martech',
       'Advertisement', 'Content creation', 'Augmented reality',
       'Bike rental', 'Beauty products', 'Femtech', 'Cultural',
       'Supply chain platform', 'Social platform', 'Sports startup',
       'Matrimony', 'Crypto', 'Clothing', 'Iot platform', 'Commerce',
       'Defense & space', 'Business supplies & equipment', 'Nft',
       'Oil & energy', 'Company-as-a-service', 'Textiles',
       'Professional training & coaching', 'Maritime',
       'Housing marketplace', 'Furniture rental', 'Telecommunications',
       'Equity management', 'Community', 'Higher education',
       'Mechanical or industrial engineering', 'D2c jewellery',
       'Sales and distribution', 'Translation & localization',
       'Investment banking', 'Foootwear', 'Legal services',
       'Arts & crafts', 'Investment management', 'Management consulting',
       'B2b startup', 'Design', 'B2b travel', 'Product studio',
       'Aviation & aerospace', 'Staffing & recruiting'], dtype=object)

In [44]:

import re

# Mapping the industries to sectors using regular expre
def map_sector(industry):
    if re.search(r'\b(3D Printing|Analytics|.*Tech.*|Android|Apps|Artificial Intelligence|Battery|Big Data|Blockchain|CleanTech|Cloud Computing|Cloud Infrastructure|Collaboration|Communities|Computer|Consumer Applications|Embedded Systems|Energy|Enterprise Resource Planning \(ERP\)|Enterprise Software|File Sharing|Information Services|Information Technology|Internet|Internet of Things|Mobile|Nanotechnology|Renewable Energy|Search Engine|Smart Cities|Software)\b', industry, re.IGNORECASE):
        return 'IT & Technology'
    elif re.search(r'\b(Accounting|B2B|Business Development|Business Intelligence|Business Travel|Career Planning|Consulting|Creative Agency|Crowdsourcing|Customer Service|Environmental Consulting|Facilities Support Services|Government|Human Resources|Market Research)\b', industry, re.IGNORECASE):
        return 'Business Services'
    elif re.search(r'\b(Advertising|Audio|Brand Marketing|Broadcasting|Classifieds|Digital Entertainment|Digital Marketing|Digital Media|Gaming|Marketing|Media and Entertainment|Music|Music Streaming|News|Online Games|Online Portals|Reading Apps|Social Media)\b', industry, re.IGNORECASE):
        return 'Media & Entertainment'   
    elif re.search(r'\b(Aerospace|Automotive|Autonomous Vehicles|Industrial|Industrial Automation|Packaging Services)\b', industry, re.IGNORECASE):
        return 'Manufacturing'
    elif re.search(r'\b(AgTech|Agriculture|Farming)\b', industry, re.IGNORECASE):
        return 'Agriculture'
    elif re.search(r'\b(Air Transportation|Delivery|Delivery Service|Electric Vehicle|Last Mile Transportation|Logistics|Transportation|Transportation)\b', industry, re.IGNORECASE):
        return 'Transportation & Logistics'
    elif re.search(r'\b(Hel.*|Hea.*|Hosp.*|Vet.*|Pharma.*|Alternative Medicine|Biopharma|Biotechnology|Dental|Dietary Supplements|Child Care|Health Care|Health Diagnostics|Hospital|Medical|Medical Device|Veterinary|Wellness|Healthcare)\b', industry, re.IGNORECASE):
        return 'Healthcare & Life Sciences'
    elif re.search(r'\b(Fin.*|Banking|Consumer Lending|Credit|Credit Cards|Crowdfunding|Cryptocurrency|FinTech|Finance|Financial Services|Fraud Detection|Funding Platform|Health Insurance|Insurance|Mobile Payments|Trading Platform|Wealth Management)\b', industry, re.IGNORECASE):
        return 'Financial Services'
    elif re.search(r'\b(Basketball|Fantasy Sports|Fitness|Sports|eSports)\b', industry, re.IGNORECASE):
        return 'Sports'
    elif re.search(r'\b(Beauty|Children|Consumer|Consumer Electronics|Cooking|Cosmetics|Eyewear|Fashion|Food Processing|Food and Beverage|Home Decor)\b', industry, re.IGNORECASE):
        return  'Consumer Goods'
    elif re.search(r'\b(Catering|.*travel.*|Events|Hospitality|Tourism|Travel|Wedding)\b', industry, re.IGNORECASE):
        return 'Travel & Tourism' 
    elif re.search(r'\b(E-Commerce|E-Commerce Platforms|Marketplace|Retail|.*commerce.*|)\b', industry, re.IGNORECASE):
        return 'Online Retail' 
    elif re.search(r'\b(Continuing Education|.*Edu.*|learn|academy|Professional Training & Coaching|tutor|stem|Higher Educatio|E-Learning|EdTech|edttech|Preschool Daycare|school|Education|edutech|Teaching|Training)\b', industry, re.IGNORECASE):
        return 'Education'
    elif re.search(r'\b(Commercial|Commercial Real Estate|Rental||Housing Marketplace|Furniture Rental|Real estate|Housing|Rental|Furniture|Rental space|Proptech)\b', industry, re.IGNORECASE):
        return 'Real Estate'
    elif re.search(r'\b(Clean Energy|.*nergy.*|EV|Solar.*|Ev startup|Electricity|Wl & rac protection)\b', industry, re.IGNORECASE):
        return 'Energy'
    else:
        return 'Others'
    
# # Apply the function to the Industry column
merged_df['industry'] = merged_df['industry'].apply(map_sector)

# # Display the DataFrame to verify the changes
merged_df['industry'].value_counts()

industry
IT & Technology               1070
Online Retail                  879
Healthcare & Life Sciences     195
Financial Services             165
Consumer Goods                 127
Media & Entertainment           97
Transportation & Logistics      83
Manufacturing                   76
Business Services               70
Sports                          34
Others                          30
Agriculture                     15
Travel & Tourism                15
Name: count, dtype: int64

In [45]:
# filter only the rows with the "Others" industry
others_ind = merged_df[merged_df["industry"] == "Others" ]
others_ind.head(5)

,index,company_name,industry,funding_stage,Amount_in_usd,about_company,year_funded,Founded,Founders,Investor,city,state,country
58,58,MissMalini Entertainment,Others,Seed,1518400.0,MissMalini Entertainment is a multi-platform n...,2018,NaN,NaN,NaN,Mumbai,Maharashtra,India
105,105,Jagaran Microfin,Others,Debt Financing,8030000.0,Jagaran Microfin is a Microfinance institution...,2018,NaN,NaN,NaN,Kolkata,West Bengal,India
121,121,FLEECA,Others,Seed,3000000.0,FLEECA is a Tyre Care Provider company.,2018,NaN,NaN,NaN,Jaipur,Rajasthan,India
146,146,WheelsEMI,Others,Series B,14000000.0,"WheelsEMI is the brand name of NBFC, WheelsEMI...",2018,NaN,NaN,NaN,Pune,Maharashtra,India
153,153,Fric Bergen,Others,Venture - Series Unknown,3000000.0,Fric Bergen is a leader in the specialty food ...,2018,NaN,NaN,NaN,Alwar,Rajasthan,India

In [46]:
# view the descriptions of the companies with the others categories
others_ind["about_company"]

58     MissMalini Entertainment is a multi-platform n...
105    Jagaran Microfin is a Microfinance institution...
121              FLEECA is a Tyre Care Provider company.
146    WheelsEMI is the brand name of NBFC, WheelsEMI...
153    Fric Bergen is a leader in the specialty food ...
174    Deftouch is a mobile game development company ...
181    Corefactors is a leading campaign management, ...
210    Cell Propulsion is an electric mobility startu...
230                      FInd your Customized Home here.
235    dishq leverages food science and machine learn...
238    Trell is a location based network which helps ...
242          New Apartments, Flats for Sale in Bangalore
243    It is a fabless semiconductor company focused ...
247    SaffronStays connects travellers to India's In...
251    Inner Being Wellness manufactures beauty, well...
257    SEO, PPC, Search Engine Marketing, Social Medi...
258                             Digital Marketing Agency
259    Scale Labs is a cross border e-commerce soluti...
294    Transforming the way businesses deliver. Work-...
325    Toffee is a bite size, micro-event & contextua...
326                    Online wealth management platform
346    Finwego partners with Small and Medium Busines...
397    Cred is a platform to celebrate and reward the...
456    Origo Commodities, a complete post-harvest man...
471              Sequretek is a cyber security start-up.
472    Avenues Payments is an IT solutions provider f...
475    Planet11 is backed by SK Planet, which is a pa...
477         Iba Halal Care is a cosmetics brand company.
479    Togedr is an activity discovery & booking plat...
509                                              Edutech
Name: about_company, dtype: object

In [47]:
# create dictionary to contain the keywords in the what_it_does column
keywords = {
    'entertainment': 'Media & Entertainment',
    'microfinance': 'Financial Services',
    'tyre care': 'Consumer Goods',
    'nbfc': 'Financial Services',
    'specialty food': 'Consumer Goods',
    'mobile game development': 'IT & Technology',
    'campaign management': 'Business Services',
    'electric mobility startup': 'Transportation & Logistics',
    'food science': 'Consumer Goods',
    'machine learning': 'IT & Technology',
    'location based network': 'IT & Technology',
    'real estate': 'Real Estate',
    'semiconductor company': 'IT & Technology',
    'travellers accommodation': 'Travel & Tourism',
    'beauty, wellness': 'Consumer Goods',
    'search engine marketing': 'IT & Technology',
    'digital marketing agency': 'Business Services',
    'cross border e-commerce solutions': 'Business Services',
    'wealth management platform': 'Financial Services',
    'micro-event & contextual marketing': 'Business Services',
    'partners with small and medium businesses': 'Financial Services',
    'celebrate and reward': 'Financial Services',
    'post-harvest management': 'Business Services',
    'cyber security': 'IT & Technology',
    'cosmetics brand': 'Consumer Goods',
    'activity discovery & booking platform': 'Travel & Tourism',
    'edutech': 'Education'
}

# Function to assign sector based on description
def assign_sector(about_company):
    for keyword,industry in keywords.items():
        if keyword in about_company.lower():
            return industry
    return "Others" #Keep Others if no keyword matches

# Update sectors for entries currently labeled as "Others"
merged_df.loc[merged_df['industry'] == 'Others', 'industry'] = merged_df.loc[merged_df['industry'] == 'Others', 'about_company'].apply(assign_sector)
merged_df['industry'].value_counts()

industry
IT & Technology               1075
Online Retail                  879
Healthcare & Life Sciences     195
Financial Services             170
Consumer Goods                 132
Media & Entertainment           98
Transportation & Logistics      84
Manufacturing                   76
Business Services               74
Sports                          34
Travel & Tourism                16
Agriculture                     15
Others                           7
Education                        1
Name: count, dtype: int64

In [48]:
#check for missing values
merged_df['industry'].isna().sum()

0

#### Cleaning the funding_stage cplumn

Startups start with pre-seed, progress through seed, Series A, Series B, etc., securing resources for development and strategies. Additional rounds like Series C or D may follow. External funding at each stage fuels growth toward the venture's full potential.

link: https://www.startupindia.gov.in/content/sih/en/funding.html


age of Funding	Stage mapping
Ideation	Pre-Seed funding
Validation	Mid series, Seed Round & Series A, Seed funding
Early Traction	Series A
Scaling	Series B, Series C, Series D, Series E, Series F, Series G, Series H, Series I
Exit Option	Post-IPO Debt, Post-IPO Equity, Secondary Market
| Other | Private Equity, Corporate Round, Undisclosed, Non-equity Assistance, Debt, Bridge, Edge


Stages	Description
Others	Miscellaneous phases or unique development activities.
Early Traction	Gaining initial traction, attracting early adopters, and refining based on feedback.
Validation	Validating the business model, product-market fit, and scalability through research and feedback.
Ideation	Brainstorming and developing business concepts, defining value propositions, and outlining plans.
Scaling	Expanding operations, customer base, and market reach for rapid growth.
Exit Option	Considering exit strategies such as mergers, acquisitions, or IPOs.


After Research on the stages of startup from the , we decided to regroup the stages into these categories based on the stage of a start-up

Ideation - Ideation is a stage where the initial business plan has been formed and the start-up is growing with little or no capital. The business relies heavily on savings, family and friends and grant money.

Validation - At this stage, the startup needs to prove the potential rate of success with the business idea.It needs to conduct field trials, test products on customers and build a small formal team. Funding usually comes from government loan schemes (to encourage entrepreneurs) , angel investors (individuals who invest their money in return for equity), incubators (specific goal of assisting and launching startups) or crowdfunding (conrtibution of amount from a large number of people via platforms).

Early Traction - Startup services have been launched into the market. KPIs, customer churn, revenue and geographic expansion are a priority at this stage. Sources of funding include venture capital funds, bank debts, and venture debt funds

Scaling - In this stage, there is an increase in revenue and market growth.It includes Series B,C,D and E. Sources of funding include venture capitals especially when the startup has gained major market attention. Some private equity or investment funds may provide funds for startups with consistent growth record.

Exit Option - In this stage, the investors may decide to merge the company with another, list the companies in the stock market(for those with impressive record of profits), sell shares to other private equity firms or the founders may even buy back their shares in order to gain back control of the company.

Others for these stages: Private Equity, Corporate Round, Non-equity Assistance, Debt, Bridge, Edge

Undisclosed for all values of "Undisclosed",None and Null Values

In [49]:
# view unique values
merged_df['funding_stage'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round', nan, 'Fresh funding',
       'Pre series A', 'Series G', 'Post series A', 'Seed funding',
       'Seed fund', 'Series F', 'Series B+', 'Seed round', 'Pre-series A',
       None, 'Pre-seed', 'Pre-series', 'Debt', 'Pre-series C',
       'Pre-series B', 'Bridge', 'Series B2', 'Pre- series A', 'Edge',
       'Pre-Series B', 'Seed A', 'Series A-1', 'Seed Funding',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Seed Round', 'Bridge Round', 'Pre seed round', 'Pre series B',
       'Pre series C', 'Seed Investment', 'Series D1', 'Mid series',
       'Series C, D', 'undisclosed', 'Seed+', 'Series F2', 'Series A+',
       'Series B3', 'PE', 'Series F1', 'Pre-series A1', 'None',
       'Early seed', 'Seies A', 'Series A2', 'Series I'], dtype=object)

In [50]:
import pandas as pd
import numpy as np
import re                      

# Define the mapping using a list of dictionaries
def map_stage(funding_stage):
    if pd.isna(funding_stage) or funding_stage in ['Undisclosed', 'undisclosed', 'None', 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593']:
        return 'Unknown'
    
    if re.search(r'\b(Bootstrapping|Self-funding)\b', funding_stage, re.IGNORECASE):
        return 'Ideation'
    elif re.search(r'\b(Pre-Seed|Angel|Grant|Non-equity Assistance|Early Seed)\b', funding_stage, re.IGNORECASE): 
        return 'Validation'
    elif re.search(r'\b(Seed|Seed Funding|Seed Fund|Seed Round|Seed Investment|Pre Series A|Pre-Seed Round|Pre Series A1)\b', funding_stage , re.IGNORECASE):
        return 'Early Traction'
    elif re.search(r'\b(Series [A-I]|Private Equity|Venture - Series Unknown|Corporate Round|Secondary Market|Fresh Funding|Post Series A|Series B\+|Pre-Series A1|Series A\+|Series B3|PE|Series F1|Series A2|Mid Series|Series C, D|Series E2|Series D1|Series F2|Series B2|Series A-1|Pre-Series B|Pre-Series C)\b', funding_stage, re.IGNORECASE):
        return 'Scaling'
    elif re.search(r'\b(Debt Financing|Post-IPO Debt|Post-IPO Equity|Bridge|Bridge Round|Debt|Funding Round|Edge)\b', funding_stage, re.IGNORECASE):
        return 'Exit Options'
    else:
        return 'Unknown'
    
# Apply the function to the 'funding_stage' column
merged_df['funding_stage'] = merged_df['funding_stage'].apply(lambda x: map_stage(x)).astype(str)

# Print the DataFrame to check the results
merged_df['funding_stage'].unique()

array(['Early Traction', 'Scaling', 'Validation', 'Exit Options',
       'Unknown'], dtype=object)

In [51]:
#check for missing values

merged_df['funding_stage'].isna().sum()

0

#### cleaning the investor column

In [52]:

merged_df['Investor'].unique()

array([nan, 'Sixth Sense Ventures', 'General Atlantic', ...,
       'Owl Ventures', 'Winter Capital, ETS, Man Capital',
       '3one4 Capital, Kalaari Capital'], dtype=object)

In [53]:
#### Cleaning the investor cokumn

merged_df['Investor'].value_counts()

#check for nulls
# merged_df['Investor'].isna().sum()

Investor
Inflection Point Ventures                                                35
Venture Catalysts                                                        32
Mumbai Angels Network                                                    17
Angel investors                                                          15
Undisclosed                                                              13
                                                                         ..
Bytedance, Falcon Edge, Goldman Sachs, Advent Management                  1
INSEAD Angels, IIT Kanpur Angels, Sixth Sense Ventures, Saahil Bhatia     1
Sukhbir Singh, Rakhee Singal                                              1
Angel Network                                                             1
3one4 Capital, Kalaari Capital                                            1
Name: count, Length: 1771, dtype: int64

In [54]:
merged_df['Investor'].isnull().sum()

624

In [55]:
# Replace all the Nulls with undisclosed
merged_df["Investor"].fillna("Undisclosed",inplace=True)

In [56]:
merged_df['Investor'].isnull().sum()

0

#### cleaning the founded column

We will be cleaning the missing values by fill them using interpolate method which is suitable for time series data

We will also be converting the data type from float to datetime for purpose of our analysis.

In [57]:
merged_df['Founded'].unique()

array([  nan, 2014., 2004., 2013., 2010., 2018., 2019., 2017., 2011.,
       2015., 2016., 2012., 2008., 2020., 1998., 2007., 1982., 2009.,
       1995., 2006., 1978., 1999., 1994., 2005., 1973., 2002., 2001.,
       2021., 1993., 1989., 2000., 2003., 1991., 1984., 1963.])

In [58]:
#  Remove unwanted characters
merged_df['Founded'] = merged_df['Founded'].replace(['...', np.nan], np.NaN)

merged_df['Founded'].isna().sum()

768

In [59]:
# Fill the nulls
merged_df["Founded"].fillna(method ='bfill',inplace = True)

merged_df['Founded'].isna().sum()

0

#### Cleaning the company_name column

In [60]:
merged_df['company_name'].unique()

array(['TheCollegeFever', 'Happy Cow Dairy', 'MyLoanCare', ...,
       'Cogos Technologies', 'Vahdam', 'WeRize'], dtype=object)

In [61]:
merged_df['company_name'].isna().sum()

0

Cleaning the founders column

In [62]:
# Remove unwanted characters
merged_df['Founders'] = merged_df['Founders'].replace(['...', np.nan], np.NaN)

# Check the number of NaN values in the 'founders' column
merged_df['Founders'].isna().sum()


#fill the nulls with unknown
merged_df['Founders'].fillna('unknown', inplace = True)

merged_df['Founders'].isna().sum()

0

In [63]:
#save cleaned data to csv file
merged_df.to_csv('indian_ecosystem_merged_data.csv')

EXPLORATORY DATA ANALYSIS

In [64]:
merged_df.describe().T

,count,mean,std,min,25%,50%,75%,max
index,2856.0,4.982829e+02,3.334439e+02,0.0,210.0,453.5,774.25,1.208000e+03
Amount_in_usd,2856.0,9.849275e+07,3.097961e+09,876.0,1000000.0,3000000.0,8000000.00,1.500000e+11
year_funded,2856.0,2.020018e+03,1.087759e+00,2018.0,2020.0,2020.0,2021.00,2.021000e+03
Founded,2856.0,2.015596e+03,3.963923e+00,1963.0,2014.0,2016.0,2018.00,2.021000e+03

The 'Amount_in_usd' column shows a high degree of variability with significant outliers, as indicated by the large standard deviation and the maximum value.
The 'year_funded' column shows that most funding happened around the years 2020 and 2021, with minimal variation.
The 'Founded' column indicates that most companies were founded in recent years, with a few outliers going back several decades.
The presence of NaN values in the 'Founded' column means some founding year data is missing.

In [65]:
merged_df.isna().sum()

index              0
company_name       0
industry           0
funding_stage      0
Amount_in_usd      0
about_company      0
year_funded        0
Founded            0
Founders           0
Investor           0
city               0
state            237
country          194
dtype: int64

#### Hypothesis Testing
Null Hypothesis(Ho): There is no significant difference in the amount of funding received by Indian startups from 2018 to 2021.
Alternative Hypothesis(Ha): There is significant difference  in the amount of funding received by Indian start-ups from 2018 to 2021.

In [66]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

#define threshhold
threshold = 0.05

anova_results = {}
significant_factors = []

# List of categorical columns
categorical_cols = ['industry', 'funding_stage', 'state', 'year_funded', 'Founded', 'Founders', 'Investor', 'city']

for col in categorical_cols:
    model = ols(f'Amount_in_usd ~ C({col})', data = merged_df).fit()
    anova_table = sm.stats.anova_lm(model, typ=2)
    anova_results[col] = anova_table
    
    # Check if the p-value is below the threshold of 0.05
    if anova_table["PR(>F)"][0] < 0.05:
        significant_factors.append(col)

# Display the ANOVA results
for col, result in anova_results.items():
    print(f"ANOVA results for {col}:\n", result, "\n")

# Display significant factors
print("Significant factors (p < 0.05):", significant_factors)

# Interpret the results
p_value = anova_table['PR(>F)'][0]
if p_value < threshold:
    print("Reject the null hypothesis: There is a significant difference in the average funding amounts across different sectors.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in the  funding amounts across the years.")

ANOVA results for industry:
                    sum_sq      df         F    PR(>F)
C(industry)  9.172502e+18    13.0  0.073208  0.999997
Residual     2.739130e+22  2842.0       NaN       NaN

ANOVA results for funding_stage:
                         sum_sq      df         F    PR(>F)
C(funding_stage)  2.931525e+20     4.0  7.708045  0.000004
Residual          2.710732e+22  2851.0       NaN       NaN

ANOVA results for state:
                 sum_sq      df         F    PR(>F)
C(state)  6.319472e+19    20.0  0.300403  0.998868
Residual  2.732657e+22  2598.0       NaN       NaN

ANOVA results for year_funded:
                       sum_sq      df         F    PR(>F)
C(year_funded)  7.592413e+18     3.0  0.263494  0.851735
Residual        2.739288e+22  2852.0       NaN       NaN

ANOVA results for Founded:
                   sum_sq      df        F    PR(>F)
C(Founded)  5.545234e+20    33.0  1.76638  0.004568
Residual    2.684595e+22  2822.0      NaN       NaN

ANOVA results for Founders:
                    sum_sq      df         F        PR(>F)
C(Founders)  2.374881e+22  1979.0  2.878791  6.972026e-65
Residual     3.651659e+21   876.0       NaN           NaN

ANOVA results for Investor:
                    sum_sq      df         F  PR(>F)
C(Investor)  4.936712e+21  1770.0  0.134714     1.0
Residual     2.246376e+22  1085.0       NaN     NaN

ANOVA results for city:
                 sum_sq      df         F  PR(>F)
C(city)   8.955924e+19    91.0  0.099603     1.0
Residual  2.731091e+22  2764.0       NaN     NaN

Significant factors (p < 0.05): ['funding_stage', 'Founded', 'Founders']
Fail to reject the null hypothesis: There is no significant difference in the  funding amounts across the years.

In [67]:
# #Hypothesis
# import statsmodels.api as sm
# from statsmodels.formula.api import ols

# #define threshhold
# threshold = 0.05

# #perform ANoVA on each col
# col = ['industry', 'funding_stage','state, 'year_funded', 'Founded', 'Founders','Investor', 'city']
# p_values = {}

# for column in col:
#     model = ols('Amount_in_usd ~ {}'.format(column), data = merged_df).fit()
#     anova_table = sm.stats.anova_lm(model, typ=2)
#     p_value = anova_table['PR(>F)'][0]
#     p_value_decimal = round(float(p_value),2)
#     print(anova_table)
#    # print(p_value_decimal)
#     p_values[column] = p_value_decimal


#     #compare p-values
#     significant_factors = [column for column, p_value in p_values.items() if p_value < threshold]
#     print("significant factors with p_values below {}: {}".format(threshold, significant_factors))


# # # Function to perform ANOVA and print results
# # def perform_anova(data, target_col, feature_col):
# #     formula = f'{target_col} ~ C({feature_col})'
# #     model = ols(formula, data=data).fit()
# #     anova_table = sm.stats.anova_lm(model, typ=2)
# #     print(f'ANOVA results for {feature_col}:\n', anova_table, '\n')

# Perform ANOVA for each column
# for col in columns:
    # perform_anova(merged_df, 'amount_in_usd', col)




    #compare p_values

Analytical Questions
1.	What are the trends in the total amount of funding received by Indian startups from 2018 to 2021?
2.	Which sectors have attracted the most investment during each year, and how have these trends evolved over the four years?
3.	Who are the highest investors, Total Fund invested and sector? 
4.	At which stage are Indian-Start-ups funded the most?
5. How is startup funding distributed across different sectors and regions. Highest and lowest?

In [ ]:
#Trends in amount recieved over the years
import matplotlib.pyplot as plt

# Filter data for the years 2018 to 2021
df_filtered = df[(df['year_funded'] >= 2018) & (df['year_funded'] <= 2021)]

# Aggregate the total funding amount for each year
funding_trends = df_filtered.groupby('year_funded')['amount_in_usd'].sum().reset_index()

# Plot the data
plt.figure(figsize=(10, 6))
plt.plot(funding_trends['year_funded'], funding_trends['amount_in_usd'], marker='o', linestyle='-', color='b')
plt.title('Trends in Total Funding Amount for Indian Startups (2018-2021)')
plt.xlabel('Year')
plt.ylabel('Total Funding Amount (in USD)')
plt.grid(True)
plt.show()